<!DOCTYPE html>
<html lang="en" ng-app="myApp">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>profile</title>
        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
        <!-- AngularJs -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
        <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script> -->
        <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script> -->
        <!-- <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script> -->



        <!-- fontawesome -->
        <script src="https://use.fontawesome.com/405a0adae2.js"></script>
        <!-- google icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&subset=latin,latin-ext" rel="stylesheet">

        <link rel="stylesheet" href="../css/main.css">

        <script src="../app.js"></script>
        <script src="../angular.js"></script>
        <script src="http://api.brewerydb.com/v2/?key=4d9a0f8e023cb078745503782cabc979"></script>


    </head>

    <body ng-controller="BeerController as myApp">
        <header>
            <nav>
                <div class="nav-wrapper orange darken-4">
                    <a href="../index.html" class="brand-logo"><i class="fa fa-beer" aria-hidden="true"> BYOB</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="./profile.html">Profile</a></li>
                        <li><a href="./beer.html">Beer</a></li>
                        <li><a href="./party.html"> Party</a></li>
                        <li><a href="./friends.html"> Friends</a></li>
                        <li><a href="../index.html"> Log Out</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <h1>Look for your favorite beer!</h1>

        <!-- add new beer beer -->
        <div class="row">
            <form>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="beer_name" type="text" ng-model="searchbeers">
                        <label for="beer_name">Beer Name</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input id="brewery" type="text" ng-model="searchBreweries">
                        <label for="brewery">Brewery</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input id="abn" type="text">
                        <label for="abn">A.B.N</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input id="style" type="text" class="validate">
                        <label for="style">Style</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col s6">
                        <h4>Autofill <a class="btn-floating green"><i class="material-icons">publish</i></a></h4>
                    </div>
                </div>

                <a class="waves-effect waves-light btn">Submit</a>
            </form>
        </div>
        <!-- =========================== -->

        <div class="container">
            <div class="row">
                <div class="input-field col s6">
                    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
                    <h5>Add to my beers</h5>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s4">
                    <i class="material-icons prefix">mode_edit</i>
                    <label for="icon_prefix2"> Notes</label>
                    <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                </div>
            </div>

        </div>


        <footer class="page-footer grey darken-4" id="footer">
            <div class="container">
                <div class="footer-social">
                    <ul class="footer-social">
                        <li class="wow animated zoomIn"><a href="https://www.facebook.com/"><i class="fa fa-thumbs-up fa-3x"></i></a></li>
                        <li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="https://twitter.com"><i class="fa fa-twitter fa-3x"></i></a></li>
                        <li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="https://www.instagram.com"><i class="fa fa-instagram fa-3x"></i></a></li>
                    </ul>
                    <p class="copyright">Copyright &copy; 2016 Design and Developed By Chris Impicciche and Erika Angarita</p>
                </div>
            </div>
        </footer>

    </body>

</html>
